*{
      margin: 0;
      border: 0;
}
.upper{
      background-color: rgb(255, 25, 64);
      display: flex;
      flex-direction: column;
      height: 520px;
      align-items: center;
      justify-content: center;
      border-bottom: 3px solid rgb(195, 0, 65);
}

.upper h1{
      position: relative;
      top: 0px;
      bottom: 40px;
      margin-bottom: 65px;
      text-align: center;
      font-size: 5rem;
      color: white;
      width: 1000px;
      box-shadow: 5px 8px 15px 3px aliceblue;
}

h4{
      font-size: 3rem;
      text-align: center;
      color: white;
}

.upper .middle{
      display: flex;
      position: relative;
      top: 35px;
}

.upper .middle .timer{
      margin-right: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:4rem;
      /* color: rgb(250, 3, 45); */
      color: white;
      height: 180px;
      width: 180px;
      border-radius: 180px;
      text-align: center;
      border:5px solid hotpink;
}

.upper .middle .timer:hover{
      border: 4px solid white;
}

.upper .middle .scorecard{
      margin-left: 250px;
      border: 5px solid hotpink;
      /* color: rgb(223, 0, 74); */
      color: white;
      width: 180px;
      height: 180px;
      border-radius: 180px;
      text-align: center;
      font-size:4rem;
      display: flex;
      justify-content: center;
      align-items: center;
}

.lower{
      position: relative;
      top: 0px;
      width: 1349px;
      height: 450px;
      background-color: rgb(23, 23, 23);
      /*background-color:rgb(255, 85, 133);*/
}

.btn{
      position: absolute;
      top: 0px;
      left: 0px;
      border: 4px solid black;
      background-color: pink;
      height: 60px;
      width: 60px;
      /* background-color:rgb(245, 0, 73); */
      border-radius: 130px;
}

.btn:hover{
      background-color: black;
      border-color: rgb(180, 25, 51);     
}

.header{
      height: 30px;
      background-color: aliceblue;
      color: rgb(195, 0, 65);
}